$primary-green: #009367;
$primary-font: #231f20;
$white: #ffffff;
$grey: #282828;
$nav-grey: #cfcfcf;
$font-stack: Brandon Grotesque, sans-serif;

@import 'grid';

html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	font: 100% $font-stack;
	color: $primary-font;
	margin: 0;
	padding: 0;
}

nav{

	text-align: center;
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	
	ul{
		position: absolute;
		list-style: none outside none;
		margin: 0;
		padding: 0;
		float: left;
		width: 100%;
		border-bottom: 3px solid $primary-green;
		background-color: $white;
	}
	
	li{
		text-decoration: none;
		float: left;
	}

	a{
		padding: 5px 25px;
		font-size: 1.2em;
		display: block;
	}

	a:link{ 
		color: $primary-font;
		text-decoration: none;
	}

	a:visited{ 
		color: $primary-font;
		text-decoration: none !important;
	}

	a:hover{ 
		color: $primary-font;
		text-decoration:none;
		background-color: #f3f3f3;
	}

	img{
		width: 60%;
	}
	
}

footer{
	background-color: #0d0d0d;
	color: $white;
}

#hero-image{

	position: relative;
	margin-bottom: -10%;
	
	img{
		width: 25%;
	}
}

#hero-banner{

	background-color: #000000;
	padding-top: 4%;
	
	p{
		font-size: 0.9em;
		vertical-align: top;
		margin-left: 16%;
		color: $white;
	}

	h1{
		font-size: 3.8em;
		text-align: center;
		color: $white;
		position: absolute; 
		top: 10px; 
		left: 0; 
		width: 100%; 
	}

	h2{
		font-size: 3.8em;
		font-weight: lighter;
		text-align: center;
		color: $white;
		position: absolute; 
		top: 70px; 
		left: 0; 
		width: 100%; 
	}
	
}

#top-nav{

	background-color: #000000;
	width: 100%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;

	a{
		font-size: 1.2em;
		padding: 1% 1.5%;
	}

	a:link{ 
		color: $white;
		text-decoration: none;
	}

	a:visited{
		color: $white;
		text-decoration: none !important;
	}
	
}


#hero-fans{
	width: 100% !important;
	margin-top: 10%;
}

#hero-graphic{
	margin-top: -70%;
}

#top-header-social{
	margin: 15%;
}

#top-header-login{
	float: right;
	width: 35%;
}

#nav-logo{
	margin-left: 13%;
	margin-bottom: 1%;
}

#brochure-top{

	background-color: $white;
	text-align: center;
	margin-bottom: 3%;
	
	p{
		font-size: 1.2em;
		padding: 0.5% 15%;
		text-align: left !important;
	}
	
	span a{
		display: inline-block;
		margin-left: 1%;
		margin-top: 1%;
	}
}

#variant-icons{
	
	display: table;
	margin: 0 auto;

	img{
		width: 15%;
		padding-top: 10%;
		padding-left: 5%;
	}
}

#brochure-middle{

	background-color: #eeeeee;
	padding: 3%;
	
	header{
		margin-left: 1%;
	}
	
	h2{
		font-size: 2em;
		font-weight: 400;
		text-align: center;
	}
	
	p{
		width: 90%;
		margin-left: -15%;
		font-size: 0.9em;
		text-align: center;
	}
}

#brochure-bottom{

	background-color: $white;
	padding: 2%;
	
	header{
		margin-left: 1%;
	}
	
	h2{
		font-size: 2em;
		font-weight: 400;
		text-align: center;
	}
	
	h3{
		font-size: 1.6em;
		font-weight: 400;
		text-align: center;
		margin-left: -60%;
	}
	
	h4{
		font-size: 1.2em;
		font-weight: 400;
		text-align: center;
		margin-left: -60%;
		margin-top: -5%;
	}
	
	img{
		width: 40%;
	}
	
	table{
	
		margin-left: -25%;
		width: 89%;
		border-collapse: collapse;
		
		img{
			width: 20%;
		}
		
	}
	
	tr{
		border: 1px solid #e4e4e4;	
	}
	
	td{
		padding: 5%;
	}
}

#footer-head-block{

	padding: 2% 14%;
	padding-right: 1% !important;
	
	a{
		font-size: 1.1em;
		padding: 1% 1.5%;
	}

	a:link{ 
		color: $white;
		text-decoration: none;
	}

	a:visited{
		color: $white;
		text-decoration: none !important;
	}
	
	h2{
		margin: 0%;
		margin-top: -2% !important;
		font-size: 1.25em;
	}
	
	img{
		margin-top: 8%;
	}
	
	p{
		margin: 0%;
	}
}

#footer-bottom-block{
	
	background-color: $white;
	color: #0d0d0d;
	padding-left: 14% !important;
	padding: 0.7%;
	
	p{
		margin: 0%;
		font-size: 0.9em;
	}
	
}

#footer-social{
	font-size: 1.2em;
	margin-top: 1%;
}

#footer-second-block{
	margin-left: -5%;
}

#footer-third-block{
	margin-left: 4%;
}

#footer-fourth-block{
	margin-left: 2%;
}

#feature-block{
	width: 50%;
	margin-left: 29%;
}

#carousel-block{
	width: 75%;
	margin-left: 19%;
	position: relative;
}

#carousel-last-image{
	width: 50% !important;
}

#carousel-last-header{
	margin-top: 16%;
}

#carousel-controls{
	position: absolute;
	margin-top: 24%;
	width: 200%;
}

#carousel-control-left{
	margin-left: -10%;
}

#carousel-control-right{
	margin-left: 59%;
}

.carousel-border-block{
	border-bottom: 5px solid $primary-green;
	margin-top: 5%;
	margin-left: -25%;
	width: 89%;
}

.carousel-price{
	color: $primary-green;
}

.carousel-row-right{
	text-align: right;
}

.carousel-table-button-block{
	margin-left: -25%;
	margin-top: 5%;
}

.nav-link{
	padding-top: 1%;
}

.nav-link-first{
	margin-left: 1%;
}

.table-row-alt{
	background-color: #eeeeee;
}

.button{
	font-size: 1.2em;
	padding: 1% 2.5% !important;
}

.button-buy{
	color: $white;
	text-decoration: none;
	padding: 1.1% 11.1% !important;
	margin-left: 3%;
}

.button-discover{
	border: 1px solid $primary-font;
	color: $primary-font;
	text-decoration: none;
	padding: 1% 7% !important;
}

.button-fav{
	background-color: $grey;
}


@mixin transition($transition-300) {
  -moz-transition: $transition-300;
    -ms-transition: $transition-300;
    -o-transition: $transition-300;
    -webkit-transition: $transition-300;
    transition: $transition-300;
}



.button-primary{
	background-color: $primary-green;

	a:hover{
		background-color: #006143;	
	}
}

.button-brochure{
	
	background-color: #01865e;
	font-weight: lighter;
	color: $white;
	text-decoration: none !important;
	border-radius: 1px;
	
	a:link{ 
		color: $white;
		text-decoration: none !important;
	}

	a:visited{
		color: $white;
		text-decoration: none !important;
	}
	
}

a.button-primary:hover{
	background-color: #006143;	
}

a.button-brochure:hover{
	background-color: #006143;	
}

a.button-discover:hover{
	border: 1px solid $white;
	color: $white;
	text-decoration: none;
	background-color: #000000;
}

a.button-fav:hover{
	background-color: #0f0f0f !important
}

a.button-text:hover{
	color: #d9d9d9 !important;
}

a:hover{	
	-moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;	
}

.social-buttons{
	padding: 1% !important;
	color: $nav-grey !important;
}

.social-buttons-footer{
	padding: 3.6% !important;
	color: $white !important;
}

.search-button{
	background-color: #eeeeee;
}

a.social-buttons:hover{
	color: $white !important;
}

@media all and (max-width : 1444px) {
	
	#nav-logo{
		margin-left: 8%;
	}
	
	#top-header-social{
		margin: 10%;
	}
	
	#top-header-login{
		width: 30%;
	}
	
}

@media all and (max-width : 980px) {
	
	#nav-logo{
		margin-left: 8%;
	}
	
	#top-header-social{
		margin: 10%;
	}
	
	#top-header-login{
		width: 30%;
	}
	
}

@media all and (max-width : 480px) {
	
	#brochure-bottom{
	
		padding: 2%;
	
		header{
			margin-left: 1%;
		}
		
		h2{
			font-size: 1.5em;
		}
		
		h3{
			font-size: 1.4em;
		}
		
		h4{
			font-size: 1.1em;
		}
		
		img{
			margin-top: 1%;
			width: 40%;
		}
		
		table{
		
			margin-left: -25%;
			width: 89%;
			border-collapse: collapse;
			
			img{
				width: 20%;
			}
			
		}
	}
	
	#carousel-block{
		width: 102%;
		margin-left: 30%;
		position: relative;
	}

	
	.carousel-border-block{
		width: 89%;
	}
	
}